<div>
    <img src="assets/1st.jpg" alt="image" width="100%" height="100%">
</div>

<div class="container" >
    <div class="row d-flex align list-center mt-5 mb-5">
        <div class="col-6">
            <h1>This is the first item's accordion body.</h1>
             <h5> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the .accordion-body, though the transition does limit overflow.</h5>
           
        </div>
        <div class="col-6">
            <img src="assets/abc.png" alt="image">
            
        </div>
    </div>
</div>